Repository giancarlopernudisegura/cmput404, pull requests merged in 2022-02, with the labels that each got.

#47 Create flask app
  .env.example
  .gitignore
  README.md
  jest.config.js
  package-lock.json
  package.json
  public/index.html
  server/config.py
  server/requirements.txt
  server/routes/hello_world.py
  server/server.py
  server/tests/test_hello_world.py
  src/__tests__/hello_world.test.tsx
  src/app.tsx
  src/components/button.tsx
  src/store/store.tsx
  src/views/hello_world.tsx
  tsconfig.json
  webpack.dev.js
  webpack.prod.js
Labels: Backend

#51 add tailwind support
  package-lock.json
  package.json
  postcss.config.js
  public/index.html
  server/server.py
  src/app.tsx
  src/css/main.css
  src/views/hello_world.tsx
  tailwind.config.js
  webpack.dev.js
  webpack.prod.js
Labels: Frontend

#58 change base api enpoint url to /service
  server/routes/hello_world.py
  src/views/hello_world.tsx
Labels: Backend

#65 Make package
  .env.example
  docker-entrypoint.sh
  server/__init__.py
  server/exts.py
  server/models.py
  server/run.py
Labels: Backend

#67 Doc update
  README.md
  requirements.txt
Labels: documentation

#70 add tsx files to the tailwind content paths
  tailwind.config.js
Labels: Frontend

#69 fix SQLAlchemy runtime error in heroku
  server/config.py
Labels: Backend

#77 Fix production issues
  docker-compose.yml
  gunicorn.conf.py
  webpack.prod.js
Labels: Backend

#79 Json models
  server/enums.py
  server/httpStatus.py
  server/migrations/versions/5be6d1238476_init_migration.py
  server/migrations/versions/8de387788710_init_migration.py
  server/migrations/versions/c841072362c7_.py
  server/migrations/versions/f260f762cfe0_.py
  server/models.py
  server/routes/api.py
  server/run.py
  src/utils/firebase.tsx
Labels: enhancement

#81 Flask login manager
  server/exts.py
  server/models.py
  server/requirements.txt
  server/routes/api.py
  server/run.py
Labels: Backend

#84 Post api
  server/constants/res_msg.py
  server/models.py
  server/routes/api.py
Labels: Backend
